.battle-field-container {
  width: 210mm;
  height: 297mm;
  background-color: #000;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .battle-field-name {
    margin-top: 2rem;
  }
  .battle-field {
    position: relative;
    width: 180mm;
    height: 200mm;
    margin-bottom: 50mm;
    display: flex;
    border: 1px solid #aaaa;
  }
  .battle-field-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .battle-field-squares {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .square {
    width: 25.45mm;
    height: 24.8mm;
    background-color: transparent;
    border-bottom: 1px solid #aaaa;
    border-right: 1px solid #aaaa;
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-last-child(-n + 7) {
      /* Your styles for the last 8 children of .square */
      border-bottom: none;
    }
    &:nth-child(7n) {
      /* Your styles for every 7th child of .square */
      border-right: none;
    }
  }
}
