.equipment-card {
  font-family: "Philosopher", sans-serif;
  color: #fae9dd;
  width: 63.5mm;
  height: 88mm;

  background: rgb(35, 2, 61);
  background: -moz-radial-gradient(
    circle,
    rgba(35, 2, 61, 1) 21%,
    rgba(0, 0, 0, 1) 91%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(35, 2, 61, 1) 21%,
    rgba(0, 0, 0, 1) 91%
  );
  background: radial-gradient(
    circle,
    rgba(35, 2, 61, 1) 21%,
    rgba(0, 0, 0, 1) 91%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#23023d",endColorstr="#000000",GradientType=1);
  &.unique {
    background: rgb(35, 2, 61);
    background: -moz-radial-gradient(
      circle,
      rgb(143, 126, 31) 21%,
      rgba(0, 0, 0, 1) 91%
    );
    background: -webkit-radial-gradient(
      circle,
      rgba(143, 126, 31) 21%,
      rgba(0, 0, 0, 1) 91%
    );
    background: radial-gradient(
      circle,
      rgba(143, 126, 31) 21%,
      rgba(0, 0, 0, 1) 91%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#23023d",endColorstr="#000000",GradientType=1);
  }
  &.set-item {
    background: rgb(35, 2, 61);
    background: -moz-radial-gradient(
      circle,
      rgb(4, 148, 4) 21%,
      rgba(0, 0, 0, 1) 91%
    );
    background: -webkit-radial-gradient(
      circle,
      rgba(4, 148, 4) 21%,
      rgba(0, 0, 0, 1) 91%
    );
    background: radial-gradient(
      circle,
      rgba(4, 148, 4) 21%,
      rgba(0, 0, 0, 1) 91%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#23023d",endColorstr="#000000",GradientType=1);
  }
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 20px 10px 2px rgba(0, 0, 0, 0.2);
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 20px 2px rgba(0, 0, 0, 0.2);
  }
  .equipment-card-header {
    width: 100%;
    height: 18mm;
    display: grid;
    grid-template-columns: 15.75mm 31.75mm 15.75mm;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    .card-name {
      text-transform: uppercase;
      font-size: 1.1rem;
      font-weight: 600;
      text-shadow: 0 0 15px rgb(163, 11, 11);
    }
    .icon-left,
    .icon-right {
      height: 11mm;
      width: 11mm;
      background-color: #fae9dd;
      /* Create a gradiant inwords  */
      background: rgb(250, 233, 221);
      background: radial-gradient(
        circle,
        rgb(247, 237, 230) 0%,
        rgba(181, 163, 151, 1) 100%
      );
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .stats-container {
    /* width: 63mm; */
    position: relative;
    height: 70mm;
    display: grid;

    grid-template-columns: 1fr 1fr;
    gap: 35mm;
    margin: 0 2.5mm;
    max-height: 100%;
    .stats-required {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background: rgb(250, 233, 221);
      box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
      border: 1px solid #111;
      border-radius: 15px;
      height: 36mm;
      width: 11mm;
      z-index: 1;
      .strength,
      .agility,
      .intelligence,
      .spirit {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 12mm;
        height: 5mm;
        border-bottom: 1px solid #111;
        &:last-child {
          border-bottom: none;
        }
        padding-bottom: 2mm;
      }
      .value {
        color: #000;
        border-left: 1px solid #111;
        padding-left: 1mm;
        font-size: 5mm;
      }
    }

    .attributes-gained {
      position: absolute;
      top: 55mm;
      left: 0;
      width: 100%;
      height: 13mm;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-around;
      align-items: center;
      align-content: center;
      background: #fae9dd;
      box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
      border: 1px solid #111;
      border-radius: 15px;
      .defense,
      .health,
      .attack,
      .range {
        margin-top: 5px;
        position: relative;
        align-items: center;
        flex-direction: column;
        .value {
          color: rgb(254, 188, 20);
          position: absolute;
          top: 0;
          left: 6mm;
        }
      }
    }
    .img-and-specials {
      display: flex;
      flex-direction: column;
      .equipment-img {
        position: absolute;
        top: 0;
        left: 13mm;
        height: 40mm;
        z-index: 0;
      }
      .description {
        position: absolute;
        top: 37mm;
        height: 13mm;
        /* width: 100%; */
        left: 0;
        background: #fae9dd;
        box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
        border: 1mm solid #000;
        border-radius: 15px;
        color: #111;
        font-size: 3.5mm;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .card-description {
    & h4,
    p {
      margin: 0;
      padding: 0;
    }
    display: none;
    position: absolute;
    top: 0;
    left: 65mm;
    color: #fae9dd;
    width: 63.5mm;
    height: 75mm;
    padding: 5mm;
    &.show {
      display: flex;
      flex-direction: column;

      align-items: center;
      z-index: 2000;
    }
    background: rgb(35, 2, 61);
    background: -moz-radial-gradient(
      circle,
      rgba(35, 2, 61, 1) 21%,
      rgba(0, 0, 0, 1) 91%
    );
    background: -webkit-radial-gradient(
      circle,
      rgba(35, 2, 61, 1) 21%,
      rgba(0, 0, 0, 1) 91%
    );
    background: radial-gradient(
      circle,
      rgba(35, 2, 61, 1) 21%,
      rgba(0, 0, 0, 1) 91%
    );
    .card-description-text {
      font-size: 0.8rem;
      margin-top: 2rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .equipment-card .card-description {
    top: 90mm;
    left: 0;
  }
}
