.guide {
  display: grid;
  grid-template-columns: 100px calc(100% - 100px);
}
.guide_nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;

  color: #fff;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  button {
    width: 100%;
    background-color: #fff;
    color: #000;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}
.guide_aside-nav {
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  &.active {
    transform: translateX(0);
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 0.2rem 0;
      text-transform: uppercase;
      a {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 0.5rem 1rem;
        &:hover {
          background-color: #ddd;
          color: #000;
        }
      }
    }
  }
}
