.page {
  width: 100%;
  min-height: 80vh;
  padding: 0.5rem 0;
  animation: fade 0.5s ease-in-out, slide 0.5s ease-in-out;
}
.sub-page {
  padding: 0.5rem;
  animation: fade 0.5s ease-in-out, slide 0.5s ease-in-out;
}
/* add fade and slide animation for the page  */

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* @media (max-width: 400px) {
  .page {
    padding: 0.5rem 1rem;
  }
} */
