.page {
  max-width: 1400px;
  min-height: 80vh;
  padding: 0.5rem 0;
  animation: fade 0.5s ease-in-out, slide 0.5s ease-in-out;
  margin: 0 auto;
}
.sub-page {
  width: 100%;
  padding: 0.5rem;
  animation: fade 0.5s ease-in-out, slide 0.5s ease-in-out;
  .main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
/* add fade and slide animation for the page  */

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
